<a href="https://colab.research.google.com/github/rajkumars27/Guvi-1/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = input()
print(a)

 1 2 3 4 5 6 7
 1 2 3 4 5 6 7

In [ ]:
userInput = input()
print("The Input Provided is: " + userInput)

12345
The Input Provided is: 12345

In [ ]:
a = list(map(int, input().split()))
b = list(map(int, input().split()))
c = list(map(int, input().split()))
print(" ".join(map(str, a)))
print(" ".join(map(str, b)))
print(" ".join(map(str, c)))

2 5
2 5 6
2 4  5
2 5
2 5 6
2 4 5

In [ ]:
a = input()
print(" ".join(a))

guvi
g u v i

In [ ]:
input_string = input()
float_values = input_string.split()
for value in float_values:
    print(float(value))

1.2 2.3 3.4
1.2
2.3
3.4

In [ ]:
a = input().split()
for i in a:
    print(i)

1.2 2.3 3.4
1.2
2.3
3.4

In [ ]:
a = input()
for i in a:
  print(i)

guvigeek
g
u
v
i
g
e
e
k

In [ ]:
a = input()
print(','.join(a))

guvi
g,u,v,i

In [ ]:
text = "Python is fun"
result = text.split("=")
print(result)

['Python is fun']

In [ ]:
a = str(input())
b = str(input())
print(a)
print(b)

1 2
2 3 4 5
1 2
2 3 4 5

In [ ]:
a = int(input())
print(a**3)

2
8

In [ ]:
a = int(input())
print(float(a))

2
2.0

In [ ]:
a = int(input())
b = (a * 9/5) + 32
print(f"{b:.2f}")

22
71.60

In [ ]:
n = int(input())
if (n==0):
  print("Zero")
elif (n%2==1):
  print("Odd")
else :
  print("Even")

4
Even

In [ ]:
a = int(input())
b = int(input())
print(a*b)

2
3
6

In [ ]:
n = int(input())
if (n<0):
  print("Error")
elif (n==0):
  print(0)
else:
  print(n*n)

18
324

In [ ]:
import math
side = int(input())
area = (1/4) * math.sqrt(3) * side**2
print(f"{area:.2f}")

20
173.21

In [ ]:
import math
2**2 * math.sqrt(3) /4

1.7320508075688772

In [ ]:
month = int(input())
if (month==2):
  print(28)
elif(month == 4 or month == 6 or month == 9 or month == 11):
  print(30)
elif(month == 1 or month == 3 or month == 5 or month == 7 or month == 8 or month == 10 or month == 12):
  print(31)
else:
  print("Error")

1
31

In [ ]:
n = int(input())
for i in range(1,6):
  print(n)

5
5
5
5
5

In [ ]:
a = int(input())
b = int(input())
if (a<b):
  print(a)
else:
  print(b)

22
2
2

In [ ]:
a,b = map(int, input().split())
print(min(a,b))

2 3
2

In [ ]:
a = int(input())
print(a*1000)
print(a*100000)

2
2000
200000

In [ ]:
a = int(input())
b = int(input())
print(a+b)

1
1
2

In [ ]:
import math
r = int(input())
if (r<0):
  print("Error")
else:
  c = 2 * math.pi * r
  print(f"{c:.2f}")

0.4

ValueError: invalid literal for int() with base 10: '0.4'

In [ ]:
a = str(input())
length = len(a.replace(" ",""))
print(length)

Lorem Ipsum
10

In [ ]:
a,n = map(int, input().split())
for i in range(1,n+1):
  print(a)

1 5
1
1
1
1
1

In [ ]:
N = int(input())
for i in range(N, 0, -1):
    print(i)

10
10
9
8
7
6
5
4
3
2

In [ ]:
Year = int(input())
if (Year%4==0):
  print("Y")
else:
  print("N")

2028
Y

In [ ]:
n = int(input())
print(n,n*2,n*3)

2
2 4 6

In [ ]:
n = int(input())
for i in range(1,n+1):
  print(i)

2
1
2

In [ ]:
n = int(input())
sum = n*(n+1)/2
print(int(sum))

2
3

In [ ]:
a = int(input())
b = 0
while a > 0:
    c = a % 10
    b = b + c
    a = a // 10
print(b)

124
7

In [ ]:
x = 20
x = x & 10
print(x)

0

In [ ]:
x = 200
print(not(x==10))

True

In [ ]:
a = '1'
b = '2'
c = a + b
print(c)

12

In [ ]:
# Initialize the sum variable
sum_of_numbers = 0

# Loop to get 10 natural numbers as input
for i in range(10):
    number = int(input(f"Enter natural number {i+1}: "))  # Take input for each number
    sum_of_numbers += number  # Add the number to the sum

# Calculate the average
average = sum_of_numbers / 10

# Print the average
print("The average of the 10 numbers is:", average)

In [ ]:
def say_hello():
    print('ola')
say_hello()

ola

'Hello!'

In [ ]:
def ola():
  return 'babe'

In [ ]:
def greet(raj):
    print(f"Hello, {raj}!")
greet("Alice")

Hello, Alice!

In [ ]:
def f1(x,y):
  return x * y
res = f1(3,5)
print(res)

15

In [ ]:
def my_func(my_list):
  my_list.append(10)
l1 = [1, 2, 3]
my_func(l1)
print(l1)

[1, 2, 3, 10]

In [ ]:
def my_func(my_word):
  my_word += 'world'
t1 = 'hello'
my_func(t1)
print(t1)

hello

In [ ]:
def multi(x,y):
  return(x * y)
result = multi(10,20)
print(result)

200

In [ ]:
def multi(x,y):
  return(x * y)
print(multi(10,20))

200

In [ ]:
def welcome(name):
  print('hello',name)
welcome('raj')

hello raj

In [ ]:
def welcome(*name):
  for i in name:
    print('hello', i)
welcome('a', 'b' ,'c')

hello a
hello b
hello c

In [ ]:
def info(**details):
  for a,b in details.items():
    print(a,b)
info(name='raj', age=21)

name raj
age 21

In [ ]:
def factorial(n):
  if n == 1:
    return 1
  else:
    return n * factorial(n-1)
factorial(4)

24

In [ ]:
i = int(input())
fact = 1
while (i>0):
  fact = fact * i
  i = i - 1
  print(fact)

4
4
12
24
24

In [ ]:
def animal(animal):
  animal.sound():
d1 = dog()
b1 = bird()
animal.sound(d1)
animal.sound(b1)

SyntaxError: invalid syntax (<ipython-input-7-eb1fbe0d8d2d>, line 2)

In [ ]:
class person:
  def __inti__(self, name):
    self.name = name

class student(person):
  def __inti__(self, name, grade):
    super().__inti__(name)
    self.grade = grade

  def display(self):
    print(self.name, self.grade)

s1 = student('raj', 'A')
s1.display()

TypeError: student() takes no arguments

In [ ]:
class Person:
    def __init__(self, name):
        self.name = name

class Student(Person):
    def __init__(self, name, grade):
        super().__init__(name)
        self.grade = grade

    def display(self):
        print(self.name, self.grade)

s1 = Student('raj', 'A')
s1.display()

raj A

In [ ]:
class Employee():
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

class Manager(Employee):
    def __init__(self, name, salary, department):
        super().__init__(name, salary)
        self.department = department

    def display(self):
        print(self.name, self.salary, self.department)

s1 = Manager('raj', '5000', 'Civil')
s1.display()

raj 5000 Civil

In [ ]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

class Manager(Employee):
    def __init__(self, name, salary, department):
        super().__init__(name, salary)
        self.department = department

    def display(self):
        print(self.name, self.salary, self.department)

# Corrected instance creation
s1 = Manager('raj', '5000', 'Civil')
s1.display()

raj 5000 Civil

In [ ]:
N = int(input("Enter a number: "))

if N == 0:
    print("NULL")
else:
    for i in range(1, N + 1):
        print(9 * i, end=" ")

Enter a number: 3
9 18 27

In [ ]:
N = input()
print(' '.join(N))

str
s t r

In [ ]:
number = input()
even_digits = []
odd_digits = []
for digit in number:
    if digit.isdigit():
        if int(digit) % 2 == 0:
            even_digits.append(digit)
        else:
            odd_digits.append(digit)
print(' '.join(even_digits))
print(' '.join(odd_digits))

1234
2 4
1 3

In [ ]:
def square(x):
  return x**2
def cube(x):
  return x**3
def power(x):
  return x**4

print(square(2))
print(cube(2))
print(power(2))

4
8
16

In [ ]:
def power(n):
  return lambda a : a**n
square = power(2)
cube = power(3)
power_4 = power(4)
print(square(2))
print(cube(2))
print(power_4(2))

4
8
16

In [ ]:
def count_up_to_5():
    for i in range(1, 6):
        yield i

for number in count_up_to_5():
    print(number)

1
2
3
4
5

In [ ]:
def gen():
    yield 1
    yield 2
    yield 3

g = gen()
print(next(g))

1

In [ ]:
def count_up_to_5():
    for i in range(1, 6):
        yield i

count_up_to_5()
print(i)

NameError: name 'i' is not defined